
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules/


dist/
build/
out/
.cache/
.temp/
.tmp/
coverage/
.nyc_output/


*.tsbuildinfo
**/*.tsbuildinfo


.env
.env.*
!.env.example
apps/**/.env
apps/**/.env.*
!apps/**/.env.example
packages/**/.env
packages/**/.env.*
!packages/**/.env.example


.eslintcache
.stylelintcache
.turbo/
.vite/
.parcel-cache/
.next/


.vscode/
.idea/


.DS_Store
Thumbs.db


*.pid
*.pid.lock
*.seed
*.tgz
junit.xml

